<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>79105712683-ar8pvcfqv1nprrdpbi0o6gefjn637fd0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.79105712683-ar8pvcfqv1nprrdpbi0o6gefjn637fd0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>79105712683-40nhhirkd7l2973093bdeluj6ef7jgap.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCQyQ-FQOuTaDvDl6qpdP0xHAn4xd2yC48</string>
	<key>GCM_SENDER_ID</key>
	<string>79105712683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.coincode.exchange</string>
	<key>PROJECT_ID</key>
	<string>Coincode-764f4</string>
	<key>STORAGE_BUCKET</key>
	<string>Coincode-764f4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79105712683:ios:26241206469fc5bcf6c06e</string>
</dict>
</plist>